<div class="app-header {{this.getStyleHeader}}" ...attributes>
    <ArchitectUi::AppHeader::AppHeaderLogo/>
    <div class="app-header__content">
        <div class="app-header-left">
            <ArchitectUi::AppHeader::AppHeaderLeft/>
        </div>
        <div class="app-header-right">
            <ArchitectUi::AppHeader::AppHeaderRight/>
        </div>
    </div>
</div>