{{!--
  Age Gate Template
  Layout boxed style (ArchitectUI) - Mobile first
  Background: bg-plum-plate (ArchitectUI class)
--}}

<div class="app-container">
  <div class="h-100 bg-plum-plate">
    <div class="d-flex h-100 justify-content-center align-items-center">
      <div class="mx-auto app-login-box col-md-8 col-lg-6">
        {{!-- Component Age Gate --}}
        <AgeGate />
      </div>
    </div>
  </div>
</div>
