<div class="google-login">
  <div class="app-container">
      <div class="h-100">
          <div class="h-100 no-gutters row">
              <div class="d-flex bg-white justify-content-center align-items-center col-md-12">
                  <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-8 text-center">
                      <div class="d-block d-sm-block d-md-none d-lg-none p-3"></div>
                      <div class="app-logo m-auto"></div>
                        <h4 class="text-danger">
                          Si è verificato un errore.
                        </h4>
                        <p>
                          <LinkTo @route="login" class="ml-2">Torna al login.</LinkTo>
                        </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{{outlet}}