<div class="app-container">
    <div class="h-100">
        <div class="h-100 no-gutters row">
            <div class="d-flex bg-custom1 justify-content-center align-items-center col-md-12 {{this.loginAreaClass}} text-white">
                <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-8">
                    <div class="d-block d-sm-block d-md-none d-lg-none p-3"></div>
                    <div class="app-logo2 mb-5 d-md-none d-lg-none"></div>

                    <h2>
                      ASSISTENZA CLIENTI
                    </h2>
                    <h4 class="mb-0">
                        <span class="d-block">
                            Sei già nostro Cliente ed hai bisogno di assistenza?
                        </span>
                        <span>
                            <small>Inviaci la tua segnalazione. Ti contatteremo nel più breve tempo possibile.</small>
                        </span>
                    </h4>
                    <Standard::BackButton class="pl-0 btn-link btn btn-sm text-custom2">Torna indietro</Standard::BackButton>
                    <div class="divider row"></div>
                    <div class="text-dark">
                      <Standard::Core::HelpDesk/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}