<div class="h-100 d-flex align-items-center justify-content-center">
  <div style="margin-top: -120px;" class="text-center">
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-block" style="height: 40px;">
        <div class="loader">
            <div class="ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>        
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="justify-content-center align-items-center text-primary">
      <h5 class="opacity-4">
        <Standard::TR @key="template.loading.loading" @default="CARICAMENTO IN CORSO..."/>
      </h5>
    </div>
  </div>
</div>