{{!-- Visualizzata post login, nei casi di password scaduta o primo accesso --}}
{{!-- stile del template: pagine del tema per utenti non loggati --}}
<div class="app-container">
    <div class="h-100">
        <div class="h-100 no-gutters row">
            <div class="d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-12">
                <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-8">
                    <div class="d-block d-sm-block d-md-none d-lg-none p-3"></div>
                    <div class="app-logo"></div>
                    <h4 class="mb-0">
                        <div>
                            <Standard::TR @key="template.updatePassword.title" @default="Modifica della password"/>
                        </div>
                    </h4>
                    <h6 class="mt-3">
                        <Standard::TR @key="template.updatePassword.howTo" @default="Scegli la tua nuova password"/>
                    </h6>

                    <Standard::Core::UpdatePassword @showBack="true"/>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}