.user-profile {
  .upload-area {
    padding: 30px 0;
    border-radius: 10px;
    border: 3px dashed #343a40;
    text-align: center;
    margin-top: 1em;
  }

  .upload-area:hover {
    border: 3px dashed #ffffff;
  }
}