.app-header-right {
  // badge contenente il numero di prodotti nel carrello
  .shopping-icon-badge {
    position: absolute !important;
    right: -5px;
    z-index: 5;
    padding: 3px 6px;
    font-size: 80%;
    top: 0;
  }
}
