.category-viewer {

  .image-box  {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: (3/4) * 100%;
  }

  hr {
    width: 100% !important;
    height: 1px !important;
    border-top: 1px solid #e7eaed !important;
  }

  .icon-mail{
    font-size: xx-large;
  }
}
