.current-tenant {
  .current-tenant-container{
    border: 1px solid #ced4da;
    border-radius: 3px;
    background: #ffffff;
    padding: 4px 15px;
    display: block;
    min-width: 150px;
  }

  .current-tenant-container.headerStyle.black {
    border: 1px solid rgba(0,0,0,0.2) !important;
    background: transparent;
  }

  .current-tenant-container.headerStyle.white {
    border: 1px solid rgba(255,255,255,0.2) !important;
    background: transparent;
    color: #ffffff;
  }
}