.loading-block {
  .overlay-wrapper {
    opacity: 0;
    visibility: hidden;

    .full-screen {
      border: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      position: fixed;
    }

    .loading-block-cont {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
    }
  }

  .overlay-wrapper.visible {
    opacity: 1;
    visibility: visible;
  }
}
