.media-crud {
  width: 100%;

  .page-item:disabled {
    cursor: not-allowed;
  }

  input, textarea {
    background: #ffffff;
    border-radius: 0;
    width: 100%;
  }

  input:disabled, textarea:disabled {
    background: #f4f4f4;
    cursor: not-allowed;
  }

  .media-table {
    width: 100%;
    table-layout: fixed;

    thead > tr:not(:first-of-type) {
      border-left: 1px solid #e7eaee;
    }
    thead > tr {
      border-bottom: 1px solid #e7eaee;

      .col-image {
        width: 74px;
      }
      .col-btn {
        width: 78px;
      }
      .col-tag {
        width: 25%;
      }
      .col-alt {
        width: 25%;
      }
      .col-url {
        width: 100px;
      }
    }

    thead > tr > th {
      font-weight: 200;
      font-size: 70%;
      padding: 5px 4px;
      color: #555555;
    }

    tbody > tr:not(:last-of-type) {
      border-bottom: 1px solid #e7eaee;
    }

    tbody > tr > td {
      padding: 5px 4px;
      vertical-align: top;
      vertical-align: middle;
    }
    tbody > tr > td:not(:first-of-type) {
      border-left: 1px solid #e7eaee;
    }

    .cell-bg-gradient {
      background-image: linear-gradient(to bottom right,#ffffff 5%,#eeeeee 50%,#ffffff 95%);
      cursor: pointer;
    }
  }

  .small-btn {
    font-weight: 400;
    font-size: 70%;
    text-transform: uppercase;
    padding: 0.15rem 0.5rem;
    width: 100%;
  }

  .light-text {
    line-height: 1em;

    p > small{
      font-weight: 200;
    }
  }

  .upload_area {
    padding: 30px;
    border-radius: 15px;
    border: 3px dashed grey;
    min-height: 155px;
  }
  .upload_area:hover {
    background-color: #f0f3f5;
  }

  .preview-cont {
    max-width: 100%;
    max-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
