.registration-mandatory{
  font-size: 120%;
  vertical-align: baseline;
  display: inline-block;
}
.registration-animations {
  animation: flash; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.show-pwd  {
  width: 36px;
}