.slider-pic-area:hover{
  background: #f0f3f5;
}
.slider-image-preview {
  width: 100%;
  height: 100%;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  background-color: #ffffff;
}

.upload_area {
  padding: 30px;
  border-radius: 15px;
  border: 3px dashed grey;
}
.upload_area:hover {
  background-color: #f0f3f5;
}
.slider-url {
  width:calc(100% - 75px);
  margin-left: 5px;
}