.ticket-general {

  @media (max-width: 767.98px) {
    margin: -15px -15px 0;
  }
  margin: -30px -30px 0;

  .badge-sm {
    font-size: 0.7em;
    padding: 3px 4px;
    font-weight: 500;
  }

  .filter-type.active {
    background-color: #16aaff;
    color: #ffffff;;

    i {
      color: #ffffff;
      opacity: 1;
    }
  }

  .div-overflow {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .tickets-table {
    table-layout: fixed;

    thead th {
      font-weight: 200;
      font-size: 0.8em;
      padding: 5px 4px;
    }

    tbody tr td {
      white-space: normal;
      padding: 1rem 0.4rem;
      vertical-align: top;
      cursor: pointer;
    }
  }


  .ticket-details {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 -1px 6px 0px rgba(0,0,0,0.5);
    padding: 0 2em;
    z-index: 9;
  }
  .ticket-details.active {
    display: block;
  }

  .small-label {
    font-size: .65em;
  }

  .close-details {
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 10;
  }

  .sender-image {
    width:42px;
    height: 42px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
  }
}
