{{!-- ChannelBadge Component Template --}}
<span
  class="channel-badge channel-badge-{{this.platformType}} channel-badge-{{@size}} ofinder-rounded-sm d-inline-flex align-items-center px-2 py-1"
  ...attributes
>
  {{!-- Icona piattaforma con badge --}}
  <span class="platform-icon-badge-inline mr-1">{{brand-icon this.platformType size=14}}</span>

  {{!-- Nome piattaforma --}}
  <span>{{this.channelName}}</span>
</span>
