/* COLORI CUSTOM */
$custom-bg-color1: #f7b924; /* Colore di sfondo. Applicabile ai pulsanti e al tema (header, sidebar) */
$custom-text-color1: #ffffff; /* come sopra ma riferito al testo */
$custom-bg-color2: #540409; /* Colore di sfondo. Applicabile ai pulsanti */
$custom-text-color2: #ffffff; /* come sopra ma riferito al testo */

// WELCOME-SLIDER
$footer-top-border: 1px solid #e9ecef;
$footer-bg-color: #343a40;
$footer-text-color: #e9ecef;
$footer-font-size: 1.4em;
$footer-padding: 10px 2px;
$footer-divider: 1px solid rgba(0,0,0,0.5);
