/*
Il Css qui contenuto,
AGGIUNGE STILI CUSTOM
*/


/* GENERALE */
.underline {
  border-bottom: $border-width solid $border-color;
}
.left-border {
  border-left: $border-width solid $border-color;
}
.unable-box  {
  background-color: #f0f3f5;
}

/* TABLES */
.mae-table {
  width: 100%;
  color: #555555;

  thead tr th {
    font-weight: 200;
    font-size: 70%;
    padding: 5px 4px;
    vertical-align: top;
  }

  tbody>tr:not(:last-of-type) {
    border-bottom: 1px solid #e7eaee;
  }
  tbody>tr:hover {
    box-shadow: inset 0px 0px 6px 1px #c5d3f6;
  }

  tbody {
    td {
      padding: 6px 4px;
      vertical-align: top;
    }
  }
}

/* UPLOAD-AREA */
.upload-area {
  padding: 30px 0;
  border-radius: 10px;
  border: 3px dashed #343a40;
  text-align: center;
  margin-top: 1em;
}
.upload-area:hover {
  border: 3px dashed #e4e4e4;
}

// MENU' LATERALE
.vertical-nav-menu ul {
  height: auto !important;
}

/** HEADER */
.mobile-dot-notifications {
  right: -5px !important;
  top: -4px !important;
}

/** UNLOGGED PAGE ADJUST */
.unlog-variable-height {
  max-height: 100vh;
  overflow-y: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: auto;
}
.unlogged-language-area {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9;
}
.unlogged-language-area.left {
  right: unset !important;
  left: 10px;
}
